
# This workflow will run unit tests for this project

name: Code Coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  code_cov:
    runs-on: ubuntu-latest
    name: Code Coverage
    steps:
      - name: Codecov
        uses: codecov/codecov-action@v1.0.10
      - uses: actions/checkout@master
      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true